@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}
.logo img{
    width: 100%;
    max-width: 125px;
    z-index: 999;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: all ease 0.5s;
    z-index: 99999;
}


header ul li{
    display: inline-block;
    margin: 0 45px;
}

header ul li a{
    color: white;
    transition: all ease 0.5s;
    font-weight: 500;
}

header:hover{
    background-color: #fff;
}
header .logo{
    opacity: 0.7;
    transition: opacity 0.5s;
}
header:hover .logo{
    opacity:1;
}

header:hover a{
    color: black;
}


.slider-container{
    margin-bottom: 140px;
}
.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.slider{
    height: 100vh;
    display: flex;
    overflow: hidden;
    
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.slider video{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    object-position: center;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}





.slider .text{
    opacity: 0;
    margin-top: 10%;
    margin-left: 10%;
    position: absolute;
    width: 60%;
    height: 100px;
    padding: 5% 0 0 0;
    z-index: 2;
    transition: opacity 0.6s;
}
.slider .text:hover{
    opacity: 1;
}
.text h2{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
.bg{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 0 5px;
}
.bg:hover{
    text-decoration: line-through;
}
.text h1{
    font-size: 2.7rem;
    color:white
}
.main-btn{
    width: 200px;
    height: 55pxpx;
    background-color: black;
    padding: 5px 10px;
    margin-left: 60%;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
    transition: color 0.8s;
}
.main-btn:hover{
    background-color: red;
    text-decoration: underline;
}


.blog-container{
    width: 90%;
}
.blog-place{
    width: auto;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.bls{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 50%;
    
}
.blog-text{
    margin-left: 50px;
    
}
.blog-text h1{
    margin-left: 40px;
}
#bl-h1, #bl-h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
}
#bl-h1 {
    font-size: 2.5em;
    color: #3498db;
    font-weight: bold;
}

#bl-h2 {
    margin-left: 90px;
    font-size: 3.5em;
    color: #e74c3c;
    font-weight: bold;  
}

#grid {
    display: flex;
    flex-direction: column;
}
#row {
    display: flex;
}
#row img{
    width: 350px;
}